* {
    margin: 0;
}

header {
    width: 100%;
    height: 100px;
    background-color: yellow;
}

nav {
    width: 100%;
    height: 58px;
    background-color: rgba(64, 64, 64, 1);
}

nav>ul {
    list-style: none;
    display: flex;
    justify-content: space-around;
}

nav>ul>li {
    border: 3px rgb(255, 255, 255) solid;
    background-color: white;
    border-radius: 10px;
    padding: 6px 20px 6px 20px;
    margin: 10px 0px 10px 0px;
}

nav>ul>li>a {
    text-decoration: none;
    color: rgb(0, 0, 0);
}

.product_images {
    background-color: brown;
}

footer {
    width: 100%;
}