@import url('https://fonts.googleapis.com/css2?family=Mulish&display=swap');

* {
    margin: 0;
}

:root {
    /* PARA HTML */
    --hover: #3483fa;
}

header {
    width: 100%;
    height: 120px;
    background-color: yellow;
}

nav {
    width: 100%;
    height: 70px;
    background-color: rgba(64, 64, 64, 1);
}

nav>ul {
    list-style: none;
    display: flex;
    justify-content: space-around;
}

nav>ul>li {
    margin-top: 25px;
}

nav>ul>li>a {
    /* border: 3px rgb(255, 255, 255) solid; */
    background-color: white;
    border-radius: 5px;
    padding: 6px 20px 6px 20px;
    text-decoration: none;
    color: rgb(0, 0, 0);
}

main {
    width: 100%;
    height: 584px;
    background-color: #fff;

    display: flex;
    justify-content: space-around;
    align-items: center;
}

.product_container {
    width: 420px;
    height: 500px;
    border: 4px #fff solid;
    border-radius: 5%;
    background-color: #d9d9d9;
}

#product_1, #product_2, #product_3 {
    width: 95.23%;
    height: 70%;
    background-color: #ffffff;
    border: 4px #ffffff solid;
    border-radius: 5%;
    margin: 1.5% 0px 0px 1.5%;
}

#product_1 {
    background-image: url(https://www.tiendaepson.cr/media/catalog/product/cache/2b88132ea045bae0fc2b44a4f558f9b1/-/_/-_imagen_6-_as208eps44_2.png);
    background-position: center;
    background-size: cover;
}

#product_2 {
    background-image: url(https://www.tiendaepson.cr/media/catalog/product/cache/2b88132ea045bae0fc2b44a4f558f9b1/-/_/-_imagen_6-_as208eps44_2.png);
    background-position: center;
    background-size: cover;
}

#product_3 {
    background-image: url(https://www.tiendaepson.cr/media/catalog/product/cache/2b88132ea045bae0fc2b44a4f558f9b1/-/_/-_imagen_6-_as208eps44_2.png);
    background-position: center;
    background-size: cover;
}

/* .products:hover {
    transform: scale(1.01);
    transition: all ease-in-out .8s;
} */

.bottom_container {
    display: flex;
    justify-content: space-around;
}

.product_information {
}

.name_of_product {
    width: 300px;
    margin: 10px 0px 0px 10px;
    font-weight: 700;
    font-size: 130%;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.price {
    width: 200px;
    margin: 10px 0px 0px 10px;
    font-weight: 750;
    font-size: 180%;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.product_container:hover {
    height: 520px;
    box-shadow: 0 5px 10px rgba(0,0,0,.15);
    border: 4px var(--hover) solid;
    border-radius: 5%;
}

.kart {
    width: 50px;
    height: 50px;
    background-image: url(https://cdn-icons-png.flaticon.com/256/3144/3144456.png);
    background-position: center;
    background-size: cover;
}

footer {
    width: 100%;
}